@model AllClassesViewModel
@{
	ViewData["Title"] = "Просмотр классов";
}

<button type="button" class="btn btn-success mb-3" data-bs-toggle="modal" data-bs-target="#addCharacterClassModal">
    Добавить класс персонажа
</button>

<div class="modal fade" id="addCharacterClassModal" tabindex="-1" aria-labelledby="addCharacterClassModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addCharacterClassModalLabel">Добавление класса персонажа</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="characterClassForm">
                    <div class="mb-3">
                        <label for="className" class="form-label">Название класса</label>
                        <input type="text" class="form-control" id="className" name="Name" required maxlength="500">
                        <div class="invalid-feedback" id="classNameError"></div>
                    </div>
                    <div class="mb-3">
                        <label for="classDescription" class="form-label">Описание класса</label>
                        <textarea class="form-control" id="classDescription" name="Description" required maxlength="500"></textarea>
                        <div class="invalid-feedback" id="classDescriptionError"></div>
                    </div>
                    <div class="mb-3">
                        <label for="baseDamage" class="form-label">Базовый урон</label>
                        <input type="number" class="form-control" id="baseDamage" name="BaseDamage" required min="0" max="100">
                        <div class="invalid-feedback" id="baseDamageError"></div>
                    </div>
                    <div class="mb-3">
                        <label for="baseHealth" class="form-label">Базовое здоровье</label>
                        <input type="number" class="form-control" id="baseHealth" name="BaseHealth" required min="1">
                        <div class="invalid-feedback" id="baseHealthError"></div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-primary" id="saveCharacterClassBtn">Сохранить</button>
            </div>
        </div>
    </div>
</div>


<form method="get" action="@Url.Action("ViewAllClasses", "Classes")" class="mb-3">
    <div class="input-group">
        <input type="text" class="form-control" name="searchName" placeholder="Введите имя для фильтрации" value="@ViewData["SearchName"]" />
        <button type="submit" class="btn btn-primary">Поиск</button>
        <a href="@Url.Action("ViewAllClasses", "Classes")" class="btn btn-secondary">Сброс</a>
    </div>
</form>


<table class="table">
    <thead>
        <tr>
            <th scope="col">№</th>
            <th scope="col">Название</th>
            <th scope="col">Описание</th>
            <th scope="col">Базовый урон</th>
            <th scope="col">Базовое ХП</th>
            <th scope="col">Управление</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var query in Model.CharacterClasses)
        {
            <tr id="class-row-@query.Id">
                <th scope="row">@query.Id</th>
                <td>@query.Name</td>
                <td>@query.Description</td>
                <td>@query.BaseDamage</td>
                <td>@query.BaseHealth</td>
                <td>
                    <a href="#" class="btn btn-primary">Изменить</a>
                    <button class="btn btn-danger" onclick="deleteRow(@query.Id, 'class')">Удалить</button>
                </td>
            </tr>
        }
    </tbody>
</table>